@import url(reset.css);

body {
	background: white;

}


.header {
  	background-color: blue;
  	padding: 15px;
  	box-sizing: border-box;
    position: fixed;
    width: 100% 		
}

.footer {
  background-color: blue;
  padding: 15px;
  box-sizing: border-box;
}

.headerletter {
	font-size: 35px;
	color: black;
	text-align: center;
}
.footerletter {
  font-size: 35px;
	color: black;
}

.firstSection {
  text-align: center;
  padding-top: 100px;
}
.firstSection div {
  display: inline-block;
  padding-top: 100px;
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
}
.bottomSection {
  margin: 0 auto;
}

.firstColumn {
	width: 350px;
	border: 2px solid black;
	box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  margin: 0;
  text-align: center;
  padding: 20px;

}

.secondColumn {
	width: 350px;
	border: 2px solid black;
	box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  margin: 0;
  text-align: center;
  padding: 20px;
 
}

.thirdColumn {
	width: 350px;
	border: 2px solid black;
	box-sizing: border-box; 
  display: inline-block;
  font-size: 12px;
  margin: 0;
  text-align: center;
  padding: 20px;
  
  
}
.bottomColumn {
  width: 350px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 20px; 
  font-size: 12px;
  text-align: center;
  margin: 90px auto;
}


