@import url(reset.css);

body {
	background: white;

}


.header {
  	background-color: blue;
  	padding: 15px;
  	box-sizing: border-box;
    position: fixed;
    width: 100% 		
}

.footer {
  background-color: blue;
    padding: 15px;
    box-sizing: border-box;
}

.headerletter {
	font-size: 35px;
	color: black;
	text-align: center;
}
.footerletter {
  font-size: 35px;
	color: black;
}

.firstSection {
  margin: 0 auto;
}
.bottomSection {
  margin: 0 auto;
}

.firstColumn {
	width: 250px;
	border: 2px solid black;
	box-sizing: border-box;
  display: inline-block;
  font-size: 12px;
  
}

.secondColumn {
	width: 250px;
	border: 2px solid black;
	box-sizing: border-box;
  margin: 10px;
  display: inline-block;
  font-size: 12px;
  
}

.thirdColumn {
	width: 250px;
	border: 2px solid black;
	box-sizing: border-box; 
  display: inline-block;
  font-size: 12px;
  
  
}
.bottomColumn {
  width: 350px;
  border: 2px solid black;
  box-sizing: border-box;
  padding: 20px; 
  font-size: 12px;
  text-align: center;
  
   
}

.information {
width: 800px;
padding: 20px;
}

