@import url(reset.css);

body {
	background: white;

}

.header, footer {
  height: 50px;
  background-color: blue;
  color: white;
  padding: 15px;
  box-sizing: border-box;
  background-attachment: fixed;
}

.headerletter {
	font-size: 35px;
	color: black;
	text-align: center;
}
.footerletter {
    font-size: 35px;
	color: black;
}

.firstcolumn {
	width: 250px;
	border: 2px solid black;
	box-sizing: border-box;
    padding: 20px;
    margin: 10px;
    margin-left: 300px;
  	display: inline-block;
  	font-size: 12px;
  	vertical-align: top;
}

.secondcolumn {
	width: 250px;
	border: 2px solid black;
	box-sizing: border-box;
    padding: 20px;
    margin: 10px;
  	display: inline-block;
  	font-size: 12px;
  	vertical-align: top;
}

.thirdcolumn {
	width: 250px;
	border: 2px solid black;
	box-sizing: border-box;
    padding: 20px; 
    display: inline-block;
  	font-size: 12px;
  	vertical-align: top;
  	margin: 10px;
  	margin-right: 100px: 
}