@import url(reset.css);

.radial {
	width: 1500px;
	height: 700px;
	background-position: center;
	background-image: radial-gradient(white 0%, black 30%);

}
.header {
	text-align: center;
	text-transform: uppercase;
	font-size: 50px;
	font-family: 'Marmelad', sans-serif;
	background-image: url(../img/clay.jpg);
    height: 200px;
    width: 1500px;
	

}
.links {
	background-image: url(../img/clay.jpg);
	width: 1500px;
}
.mastosimage {
width: 1500px;
height: 350px;
background-image: url(../img/mastos.jpg);
background-size:475px;
background-repeat: repeat; 
}
.mastosinfo {
text-align: left;	
text-indent: initial;
background-color: #DEB887;
font-family: 'Open Sans Condensed', sans-serif;
width: 1500px;
}
.footer{

background-color: #DEB887;
width: 1500px;
height: 150px;
}
.Copyright {
	line-height: 9;
}